@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/most-wasted');

:root {
    --background-grey: #F5F4F4;
    --black: #000000;
    --logo-color: #EB4511;
}

body {
    background: var(--background-grey);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto Slab", serif;
}

form {
    margin: 0;
}

.most-wazted {
    font-family: 'Most Wazted', sans-serif;
    font-weight: 400;
}

.main-text {
    font-size: 48px;
}

.login-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 0 1rem;
    line-height: 20px;
}

.logo {
    color: var(--logo-color);
    margin: 0;
    opacity: 0px;
    font-family: Most Wazted;
    font-size: 36px;
    font-weight: 400;
}

/* .login-img {
    width: 832px;
    height: 1122px;
} */

.login-img { 
    height: 100vh;
}

.img-desc {
    margin: 0;
    position: absolute;
    top: 800px;
    left: 1350px;
    font-size: 96px;
    color: white;
}

.container-login {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-login > * > *{
    margin: 1rem 0 1rem 0;
}

.login-form {
    width: 450px;
}

.welcoming-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcoming-text > * {
    margin: 0;
}

.email-pw-form > input {
    width: 450px;
    height: 69px;
}

.email-pw-form > input::placeholder {
    padding: 0 1rem 0 1rem;
    font-family: "Roboto Slab", serif;
}

.below-inputs {
    display: flex;
    justify-content: space-between;
}

.below-inputs > * {
    margin: 0.375rem 0 0.375rem 0;
}

.below-inputs > a {
    color: var(--black);
    text-decoration: none;
}

.remember-me-form > input {
    margin: 0;
}

.login-buttons {
    display: flex;
    flex-direction: column;
}

.login-buttons button {
    width: 450px;
    height: 62px;
    margin: 0.375rem;
    font-family: "Roboto Slab", serif;
    font-size: 16px;
}

.login-buttons .sign-in-button {
    color: var(--background-grey);
    background-color: var(--black);
}

.login-buttons .google-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-buttons .google-logo > * {
    margin: 0 0.375rem 0 0.375rem;
}