:root {
    --background-grey: #F5F4F4;
    --logo-color: #EB4511;
}

body {
    background: var(--background-grey);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.login-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin: 0;
    opacity: 0px;
    font-family: Most Wazted;
    font-size: 36px;
    font-weight: 400;
}

.login-img {
    height: 100vh;
}

.img-desc {
    margin: 0;
    position: absolute;
    top: 800px;
    left: 1350px;
    font-size: 96px;
    color: white;
}